<div class="row" ng-controller="orderCtrl">
    <div ng-include src="'./navbar.html'"></div>
    <h4>My Orders</h4>
    <div ng-repeat="o in orders.data">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <span>Order No: {{o._id}}</span>
                    <li class="list-group-item" ng-repeat="i in o.cart.items">
                        <span class="badge">${{ i.item.price }}</span> {{ i.item.title }} | {{i.qty }} Units
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <strong>Total Price: ${{ o.cart.totalPrice }}</strong>
            </div>
        </div>
    </div>

</div>